doctype html
html(lang='en')
  head
    block title
      title Myūzu
    meta(charset='utf-8')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:300,500')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block header
      header.header--main
        h1.title--main Myūzu
    block content
    script(src='app.js')
