doctype html
html(lang='en')
  head
    block title
      title Myūzu
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content  
    script(src='app.js')
