doctype html
html(lang='en')
  head
    title Express + Browserify.
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main(role='main')
      .grid
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/650x650')
        .grid-item
          img(src='http://placehold.it/350x230')
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/200x650')
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/230x650')
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/350x200')
        .grid-item
          img(src='http://placehold.it/350x650')
        .grid-item
          img(src='http://placehold.it/200x230')
        .grid-item
          img(src='http://placehold.it/650x150')
    script(src='app.js')
