<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express + Browserify.</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<main role="main">
  <div class="grid">
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/150x150"></div>
    <div class="grid-item"><img src="http://placehold.it/350x230"></div>
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/200x150"></div>
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/230x150"></div>
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/350x200"></div>
    <div class="grid-item"><img src="http://placehold.it/350x150"></div>
    <div class="grid-item"><img src="http://placehold.it/200x230"></div>
    <div class="grid-item"><img src="http://placehold.it/150x150"></div>
  </div>
</main>

<script src="app.js"></script>
</body>
</html>
