extends ./_layout.pug

block content
  main(role='main')
    .loader.loader--main
    .grid.grid--loading(v-infinite-scroll='loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='10')
      card(v-for='card in cards' track-by='$index' v-bind:card='card')
