html,
body
  min-height 100%
  margin 0

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

/** Main */
main
  min-height 100%

/** Grid */
.grid-item
  width 200px
  float left

  img
    width 100%
