/**
 * General layout elements
 */

html
  height 100%


body
  height 100%
  margin  margin-default*2  margin-default
  padding padding-default*2 padding-default


main
  min-height 100%


.grid
  transition opacity anim-duration-default
  margin 0 auto
.grid--loading
  opacity 0
