/**
 * General layout elements
 */

html
  height 100%

body
  height 100%
  margin margin-default
  padding padding-default
  border border-body #000 solid

main
  min-height 100%

.grid
  margin 0 auto
