/**
 * Moodboard image cards
 */

.card
  width 200px
  float left


/**
 * Card image
 */
.card__img
  transition opacity anim-duration-default ease
  width 100%
  float left
  opacity 0
.card__img--loaded
  opacity 1
