/**
 * Global variables
 */


/** Animations */
anim-duration-default = .5s
anim-duration-fast = .1s


/** Borders */
border-body = 5px


/** Paddings & margins */
padding-default = 20px
margin-default = padding-default


/** Colours */
/** https://wafuku.wordpress.com/2011/05/15/japanese-colour-names-seasonal-combinations/ */
colour-delta = 15%

colour-primary = #DE4D31
colour-primary-active = saturate(colour-highlight, colour-delta)

colour-secondary = #41376F
colour-secondary-active = saturate(colour-highlight, colour-delta)
